.flash
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #EEFFBB;
}

.vthot
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #FFFFFF;
  background: #9C0000;
}
.vtwarm
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #FFA300;
}
.vtmedwarm
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #93FF63;
}
.vtmedcool
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #00DAFE;
}
.vtcool
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #0033FF;
}
.vtcold
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #FFFFFF;
  background: #000083;
}
