{% macro render_field(field, after="") %}
<div class="row">
  {{ field.label }}{{ field(**kwargs)|safe }}{% if after %} {{ after }}{% endif %}
  {% if field.errors %}
  <ul class="errors">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro render_field_in_row(field, after="") %}
<tr>
    <td>{{ field.label }}</td>
    <td>{{ field(class_="c-select", **kwargs)|safe }}</td>
{% if after %} <td>{{ after }}</td>{% endif %}
{% if field.errors %}{% for error in field.errors
%}<td class="error">{{ error }}</td>{% endfor %}{% endif %}
</tr>
{% endmacro %}

{% macro render_bootstrap_textfield_in_row(field, after="", addon=None) %}
<div class="form-group {% if field.errors %}has-danger{% endif %}">
      {{ field.label() }}
      {% if addon %}
      <div class="input-group">
      {% endif %}
    {{ field(class_="form-control", **kwargs)|safe }}
    {% if addon %}
        <span class="input-group-addon">{{ addon }}</span>
      </div>
    {% endif %}
    {% if after %} <div><small class="text-muted">{{ after }}</small></div>{% endif %}
    {% if field.errors %}
      {% for error in field.errors%}
      <div class="form-control-feedback">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro render_bootstrap_selectfield_in_row(field, after="") %}
<div class="form-group {% if field.errors %}has-danger{% endif %}">
    {{ field.label() }}
    {{ field(class_="c-select fullwidth", **kwargs)|safe }}
    {% if after %} <div><small class="text-muted">{{ after }}</small></div>{% endif %}
    {% if field.errors %}
      {% for error in field.errors%}
      <div class="form-control-feedback">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro render_bootstrap_checkbox_in_row(field, after="") %}
<div class="form-group {% if field.errors %}has-danger{% endif %}">
     {{ field.label() }}
      <br/>
    {{ field(**kwargs)|safe }}
    {% if after %} <div><small class="text-muted">{{ after }}</small></div>{% endif %}
    {% if field.errors %}
      {% for error in field.errors%}
      <div class="form-control-feedback">{{ error }}</div>
      {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro render_field_data_in_row(field, after="") %}
<div class="list-group-item {% if field.errors %}has-danger list-group-item-danger{% endif %}">
      {{ field.label }} {{ field(class_="c-select pull-xs-right")}}
      {% if after %} <div><small class="text-muted">{{ after }}</small></div>{% endif %}
      {% if field.errors %}
        {% for error in field.errors%}
        <div class="form-control-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
</div>
{% endmacro %}

{% macro render_radio_field_in_row(field, after="") %}
<div class="list-group-item {% if field.errors %}has-danger list-group-item-danger{% endif %}">
          {{ field(class_="pull-xs-right")}}
      {% if after %} <div><small class="text-muted">{{ after }}</small></div>{% endif %}
      {% if field.errors %}
        {% for error in field.errors%}
        <div class="form-control-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
</div>
{% endmacro %}

{% macro render_election_form(form, submit_text="") %}
    <form action="" method="post">
      <fieldset>
          {{ render_bootstrap_textfield_in_row(form.alias) }}
          {{ render_bootstrap_textfield_in_row(form.shortdesc) }}
          {{ render_bootstrap_textfield_in_row(form.description) }}
          {{ render_bootstrap_selectfield_in_row(form.voting_type, fieldclass="c-select") }}
          {{ render_bootstrap_textfield_in_row(form.max_votes) }}
          {{ render_bootstrap_textfield_in_row(form.url) }}
          {{ render_bootstrap_textfield_in_row(form.start_date, addon=" at 00:00:00 UTC") }}
          {{ render_bootstrap_textfield_in_row(form.end_date, addon=" at 23:59:59 UTC") }}
          {{ render_bootstrap_textfield_in_row(form.seats_elected) }}
          {{ render_bootstrap_checkbox_in_row(form.candidates_are_fasusers) }}
          {{ render_bootstrap_checkbox_in_row(form.embargoed) }}
          {{ render_bootstrap_textfield_in_row(form.url_badge) }}
          {{ render_bootstrap_checkbox_in_row(form.requires_plusone, after="Require membership in any non-FPCA group") }}
          {{ render_bootstrap_textfield_in_row(form.lgl_voters, after="FAS groups allowed to vote on this election (CLA-done is always required)") }}
          {{ render_bootstrap_textfield_in_row(form.admin_grp, after="FAS groups allowed to view the result despite the embargo") }}
      </fieldset>

      <br class="clear">
      <p class="buttons">
        <input type="submit" class="btn btn-primary btn-block" value="{{submit_text}}">
      </p>
      {{ form.csrf_token }}
    </form>
{% endmacro %}
