<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}Fedora elections{% endblock %}</title>
    {%block head %}{% endblock %}
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="//fedoraproject.org/static/images/favicon.ico"/>
    <link rel='stylesheet' type='text/css'
        href="{{ url_for('static', filename='jquery-ui-1.9.2.custom.css') }}"/>
    <link href="https://apps.fedoraproject.org/global/fedora-bootstrap-1.0.1/fedora-bootstrap.css"
            type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ url_for('static', filename='elections.css') }}"/>
    <link href="https://apps.fedoraproject.org/global/fedora-bootstrap-fonts/open-sans.css" rel="stylesheet">

  </head>
  <body id="{%block tag %}{% endblock %}">
    <!-- start masthead -->
       <div class="masthead">
         <div class="container">
           <div class="row">
             <div class="col-sm-3">
               <a href="/">
                 <img src="{{ url_for('static', filename='images/elections_logo.png') }}"
                   alt="Elections Logo" height="40px" id="kojiLogo"/>
               </a>
             </div>
             <div class="col-sm-9">
               <div class="row">

               <nav class="navbar navbar-light p-t-0 p-b-0">
                   <div class="container">
                     <ul class="nav navbar-nav nav-underline pull-xs-right">

                       {% if g.fas_user %}
                        <li class="nav-item dropdown p-l-1">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                             href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ g.fas_user.email | avatar(24) }}"/>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ url_for('.auth_logout') }}">log out</a>
                          </div>
                        </li>
                        {% else %}
                        <li class="nav-item p-l-1">
                          <a href="{{ url_for('.auth_login') }}">Log In</a>
                        </li>
                        {% endif %}
                     </ul>
                   </div>
                 </nav>

               </div>
             </div>
           </div>
         </div>
       </div><!-- close masthead-->

       <nav class="navbar navbar-light navbar-underline p-t-0 p-b-0">
         <div class="container">
           <ul class="nav navbar-nav nav-underline">
               <li class="nav-item {%if tag == 'index'%}active{%endif%}"><a class="nav-link" href="{{url_for('.index')}}">Home</a></li>
               <li class="nav-item {%if tag == 'archives'%}active{%endif%}"><a class="nav-link" href="{{url_for('.archived_elections')}}">Results</a></li>
           </ul>
         </div>
       </nav>

    <div class="bodycontent p-y-3">
      <div class="container">
        <div id="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if category, messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-dismissable fade in
                    {% if category == 'message'%}
                    alert-info
                    {% elif category == 'error'%}
                    alert-danger
                    {% elif category == 'warning'%}
                    alert-warning
                    {% endif %} ">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message |safe}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>

        {% if options is defined %}
        <div id="options">
            <div id="options_title">
                <h3>Options</h3>
            </div>
            <div id="delimiter"></div>
            <div id="options_content">
                {% block options %}{% endblock %}
            </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="footer p-t-1 p-b-1">
        <div class="container">
            <p class="text-muted credit">
         Copyright © 2013-2016 Red Hat
            </p>
            <p class="text-muted credit"> Powered by the <a href="https://pagure.io/elections/"
                  target="_blank" rel="noopener noreferrer">elections</a> app -- version {{ version }}</p>
        </div>
    </div>
    {% block jscripts %}
      <script type="text/javascript" src="{{
        url_for('static', filename='jquery-1.10.2.min.js') }}"> </script>
        <script type="text/javascript"
                src="https://apps.fedoraproject.org/global/fedora-bootstrap-1.0.1/fedora-bootstrap.js">
        </script>
        <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
        </script>
    {% endblock %}

  </body>
</html>
