{% extends "base.html" %}

{%block tag %}{{tag}}{% endblock %}

{% macro render_elections(election_list, title) -%}

  <h3>{{title}}</h3>

  <table>
    <tr>
      <th>Election</th>
      <th>Start date (UTC)</th>
      <th>End date (UTC)</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    {% for election in election_list %}
      <tr>
        <td>{{ election.shortdesc }}</td>
        <td>{{ election.start_date.strftime('%Y-%m-%d') }} 00:00 </td>
        <td>{{ election.end_date.strftime('%Y-%m-%d') }} 23:59 </td>
        <td>{{ election.status }}</td>
        <td>
          <a href="{{ url_for('about_election', election_alias=election.alias) }}">
            More information
          </a>
        </td>
        <td>
          {% if election.status == "In progress" %}
            {% if election not in voted %}
              <a href="{{ url_for('vote', election_alias=election.alias) }}">
              Vote now!
              </a>
            {% elif election.voting_type == 'range' %}
              <a href="{{ url_for('vote', election_alias=election.alias) }}">
              Change your vote!
              </a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endmacro %}

{% block body %}
  <h2>{{ title }}</h2>

  {% if tag == 'index' %}
  <p>
    The <a href='https://fedoraproject.org'>Fedora project</a> is a community
    driven project. It has a number of steering commities whose responsabilities
    is to drive the project forward.
  </p>
  <p>
    These committies are elected among volunteers of the community and by
    the community members. The present application is meant to held these
    elections.
  </p>
  {% endif %}

  {% if cur_elections %}
  {{ render_elections(cur_elections, 'Current elections') }}
  {% endif %}

  {% if next_elections %}
  {{ render_elections(next_elections, 'Next %s elections' % (next_elections|length)) }}
  {% endif %}

  {% if prev_elections %}
  {{ render_elections(prev_elections, 'Last %s elections' % (prev_elections|length)) }}
  {% endif %}

{% endblock %}
