{% extends "base.html" %}
{% from "_macros.html" import render_elections %}

{%block tag %}{{tag}}{% endblock %}

{% block body %}
  <h2>{{ title }}
    {% if is_admin %}
    <a class="btn btn-sm btn-success pull-xs-right" href="{{ url_for('admin_new_election') }}">
      New Election
    </a>
    {% endif %}
  </h2>

  {% if tag == 'index' %}
  <p>
    The <a href='https://fedoraproject.org'>Fedora Project</a> is a community-
    driven project. It has a number of steering committees whose responsibilities
    are to drive the project forward.
  </p>
  <p>
    These committees are elected among volunteers of the community and by
    the community members. The present application is meant to hold these
    elections.
  </p>
  {% endif %}

  {% if cur_elections %}
  {{ render_elections(cur_elections, 'Current elections', is_admin) }}
  {% endif %}

  {% if next_elections %}
  {{ render_elections(next_elections, 'Next %s elections' % (next_elections|length), is_admin) }}
  {% endif %}


{% endblock %}
