{% extends "base.html" %}
{% from "_macros.html" import render_elections %}

{%block tag %}{{tag}}{% endblock %}

{% block body %}
  <h2>{{ title }}
    {% if is_admin %}
    <a class="btn btn-sm btn-success pull-xs-right" href="{{ url_for('admin_new_election') }}">
      New Election
    </a>
    {% endif %}
  </h2>

  {% if tag == 'index' %}
  <p>
    The <a href='https://fedoraproject.org'>Fedora Project</a> is a community-
    driven project. It has a number of steering committees whose responsibilities
    are to drive the project forward.
  </p>
  <p>
    These committees are elected among volunteers of the community and by
    the community members. The present application is meant to hold these
    elections.
  </p>
  {% endif %}
  <h4><strong>Open elections</strong></h4>
  {% if cur_elections %}
  {{ render_elections(cur_elections, is_admin, voted) }}
  {% else %}
  <div class="card">
    <div class="card-header text-xs-center">
      No elections currently open for voting
    </div>
  </div>
  {% endif %}

  <h4 class="m-t-2"><strong>Upcoming elections</strong></h4>
  {% if next_elections %}
  {{ render_elections(next_elections, is_admin, voted) }}
  {% else %}
  <div class="card">
    <div class="card-header text-xs-center">
      No elections scheduled
    </div>
  </div>
  {% endif %}


{% endblock %}
