{% from "_formhelpers.html" import render_field_in_row, render_field_data_in_row %}

{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 voting-sheet">
    <h1 class="text-xs-center"><strong>{{election.shortdesc}}</strong></h1>

    <p class="text-xs-center">{{election.description}}</p>

    <p class="text-xs-center"><a href="{{election.url}}">[More Information]</a></p>

    <form action="{{ url_for('vote', election_alias=election.alias) }}" method="post">
        {% for field in form if field.widget.input_type != 'hidden' %}
          {{ render_field_data_in_row(
              field, usernamemap=usernamemap) }}
        {% endfor %}

      {% if g.fas_user %}
        <p>
        {% if nextaction == 'vote' %}
          <input type="hidden" name="action" value="submit" />
          <input class="btn btn-primary btn-block m-t-1" type="submit" name="{{nextaction}}" value="Submit your vote" />
        {% else %}
          <input type="hidden" name="action" value="preview" />
          <input class="btn btn-info btn-block m-t-1" type="submit" name="{{nextaction}}" value="Preview your vote" />
        {% endif %}
        </p>
        {{ form.csrf_token }}
      {% endif %}
    </form>
  </div>
</div>

<!-- Make this conditional on whether the user is logged in and can vote in the election -->
{% if election.legal_voters.count() != 0 %}
  <p>
    To vote in this election you must be a member of any one of the following groups:
  </p>
  <ul>
    {% for group in election.legal_voters %}
      <li>{{group.group_name}}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if election.voting_type == 'range' %}
<div>
  <h2>Information on Range Voting</h2>
  <p>
    Fedora Project has implemented
    <a href="http://rangevoting.org/">Range Voting</a>
    for this election, in particular the "Range (score-summing, blanks
    treated as zero score, no quorum rule)" range voting system.
  </p>
  <p>
    To cast your vote in this election simply select a value between 0 and
    {{ max_range }} with 0 as 'least or no preference' and
    {{ max_range }} as 'highest preference'.
  </p>
  <p>
    At the end of the election, the highest ranking candidate(s) are marked
    as the winners.
  </p>
  <p>
    For more information about Range Voting, visit the
    <a href="http://rangevoting.org/">Center for Range Voting</a>.
  </p>
</div>
{% elif election.voting_type == 'range_simple' %}
<div>
  <h2>Information on Simplified Range Voting</h2>
  <p>
    Fedora Project has implemented a simplified version of
    <a href="http://rangevoting.org/">Range Voting</a>
    for this election, in particular the "Range (score-summing, blanks
    treated as zero score, no quorum rule)" range voting system.
  </p>
  <p>
    To cast your vote in this election simply select a value between 0 and
    {{ max_range }} with 0 as 'least or no preference' and
    {{ max_range }} as 'highest preference'.
  </p>
  <p>
    At the end of the election, the highest ranking candidate(s) are marked
    as the winners.
  </p>
  <p>
    For more information about Range Voting, visit the
    <a href="http://rangevoting.org/">Center for Range Voting</a>.
  </p>
</div>
{% endif %}
{% endblock %}
