{% from "_formhelpers.html" import render_field_in_row, render_field_data_in_row %}

{% extends "base.html" %}
{% block body %}
<h2>{{election.shortdesc}}</h2>

<p>{{election.description}}</p>

<p><a href="{{election.url}}">[More Information]</a></p>

<form action="{{ url_for('vote', election_alias=election.alias) }}" method="post">
  <table border="1" cellpadding="1">
    {% for field in form if field.widget.input_type != 'hidden' %}
    {% if nextaction == 'vote' %}
      {{ render_field_data_in_row(
          field, num_candidates=num_candidates, usernamemap=usernamemap) }}
    {% else %}
        {{ render_field_in_row(field, usernamemap=usernamemap) }}
    {% endif %}
    {% endfor %}

  </table>
  {% if g.fas_user %}
    <p>
    {% if nextaction == 'vote' %}
      <input type="hidden" name="action" value="submit" />
      <input type="submit" name="{{nextaction}}" value="Submit" />
    {% else %}
      <input type="hidden" name="action" value="preview" />
      <input type="submit" name="{{nextaction}}" value="Preview" />
    {% endif %}
    </p>
    <a href="{{ url_for('open_elections') }}">Back</a>
    {{ form.csrf_token }}
  {% endif %}
</form>

<!-- Make this conditional on whether the user is logged in and can vote in the election -->
{% if election.legal_voters.count() != 0 %}
  <p>
    To vote in this election you must be a member of any one of the following groups:
  </p>
  <ul>
    {% for group in election.legal_voters %}
      <li>{{group.group_name}}</li>
    {% endfor %}
  </ul>
{% else %}
  <p />
{% endif %}

{% if election.voting_type == 'range' %}
<div>
  <h2>Information on Range Voting</h2>
  <p>
    Fedora Project has implemented
    <a href="http://rangevoting.org/">Range Voting</a>
    for this election, in particular the "Range (score-summing, blanks
    treated as zero score, no quorum rule)" range voting system.
  </p>
  <p>
    To cast your vote in this election simply select a value between 0 and
    {{ max_range }} with 0 as 'least or no preference' and
    {{ max_range }} as 'highest preference'.
  </p>
  <p>
    At the end of the election, the highest ranking candidate(s) are marked
    as the winners.
  </p>
  <p>
    For more information about Range Voting, visit the
    <a href="http://rangevoting.org/">Center for Range Voting</a>.
  </p>
</div>
{% elif election.voting_type == 'range_3' %}
<div>
  <h2>Information on Simplified Range Voting</h2>
  <p>
    Fedora Project has implemented a simplified version of
    <a href="http://rangevoting.org/">Range Voting</a>
    for this election, in particular the "Range (score-summing, blanks
    treated as zero score, no quorum rule)" range voting system.
  </p>
  <p>
    To cast your vote in this election simply select a value between 0 and
    {{ max_range }} with 0 as 'least or no preference' and
    {{ max_range }} as 'highest preference'.
  </p>
  <p>
    At the end of the election, the highest ranking candidate(s) are marked
    as the winners.
  </p>
  <p>
    For more information about Range Voting, visit the
    <a href="http://rangevoting.org/">Center for Range Voting</a>.
  </p>
</div>
{% endif %}
{% endblock %}
