include AUTHORS COPYING README requirements.txt
include createdb.py runtests.sh nosetests
recursive-include fedora_elections *
recursive-include files *
recursive-include tests *
recursive-include alembic *
