include COPYING UPDATE-NOTES elections.cfg start-elections.py fedora-elections.spec sample-prod.cfg elections.sql
include elections/config/*
include elections/templates/*.html
include elections/static/css/*.css
include elections/static/images/*.png
include examples/*
