# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
Flask>=0.10
flask-oidc
Flask-wtf
fedora-messaging
kitchen
python-fedora
SQLAlchemy
wtforms
arrow
blinker # required by Flask for the unit-tests (for signaling)
six
gunicorn
psycopg2
