# Used for when working from a virtualenv.
# Use this file by running "$ pip install -r requirements.txt"
Flask>=0.10
Flask-wtf
kitchen
python-fedora
python-openid
python-openid-cla
python-openid-teams
SQLAlchemy
wtforms
dogpile.cache
blinker # required by Flask for the unit-tests (for signaling)
nose===1.3.0
