{% extends "base.html" %}
{% block body %}
<h2>{{election.summary}}</h2>

<p>{{election.description}}</p>

<p><a href="{{election.url}}">[More Information]</a></p>

<form action="" method="post">
  <table border="0" cellpadding="1">
    {% for candidate in election.candidates|sort %}
      <tr>
        <td>
          {% if candidate.id == candidate_id %}
            <input type="radio" name="candidate" value="{{ candidate.id }}" checked="checked">
          {% else %}
            <input type="radio" name="candidate" value="{{ candidate.id }}">
          {% endif %}
          {% if election.candidates_are_fasusers %}
            {{ usernamemap[candidate.id] }}
          {% else %}
            {{ candidate.name }}
          {% endif %}
          <a href="{{candidate.url}}">[Info]</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if g.fas_user %}
    <p>
    {% if nextaction == 'confirm' %}
      <input type="submit" name="{{nextaction}}" value="Submit" />
    {% else %}
      <input type="submit" name="{{nextaction}}" value="Preview" />
    {% endif %}
    </p>
  {% endif %}
</form>

<!-- Make this conditional on whether the user is logged in and can vote in the election -->
{% if election.legal_voters.count() != 0 %}
  <p>
    To vote in this election you must be a member of any one of the following groups:
  </p>
  <ul>
    {% for group in election.legal_voters %}
      <li>{{group.group_name}}</li>
    {% endfor %}
  </ul>
{% else %}
  <p />
{% endif %}
{% endblock %}
