<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Welcome to TurboGears</title>
  </head>
  <body>
<!-- Also need to list eligable voting groups... -->
    <h1>${election.name}</h1>
    <p>${election.info}</p>
    <p py:if="election.url"><a href="${election.url}">[More Information]</a></p>
      <table border="1" cellpadding="1">
        <tr py:for="candidate in candidates">
          <td>${candidate.name} <small py:if="candidate.url"><a href="${candidate.url}">[info]</a></small></td>        </tr>
<!-- This link is okay, but one should appear if the election has public results -->
        <tr>
          <td><a href="${tg.url('/ballot/' + election.shortname)}">Vote Now!</a></td>
        </tr>
    </table>
  </body>
</html>
