<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Fedora Elections -- Administration -- Election Details</title>
  </head>
  <body>
    <form action="${tg.url('/admin/edit/' + str(e.alias))}" method="post">
    <table>
      <tr>
        <th colspan="2"> Election Details - ${e.shortdesc} </th>
      </tr>
      <tr><td>Election ID:</td><td>${e.id}<input type="hidden" name="id" value="${e.id}" /></td></tr>
      <tr><td>Election Name:</td><td><input type="text" name="shortdesc" value="${e.shortdesc}" /></td></tr>
      <tr><td>Alias:</td><td><input type="text" name="alias" value="${e.alias}" /></td></tr>
      <tr><td>URL:</td><td><input type="text" name="url" value="${e.url}" /></td></tr>
      <tr><td>Election Info:</td><td><textarea name="info" rows="5" cols="40">${e.description}</textarea></td></tr>
      <tr><td>Start Date:</td><td><input type="text" name="startdate" value="${e.start_date}" /></td></tr>
      <tr><td>End Date:</td><td><input type="text" name="enddate" value="${e.end_date}" /></td></tr>
      <tr><td>Seats Elected:</td><td><input type="text" name="seats" value="${e.seats_elected}" /></td></tr>
      <tr><td>Votes Per User:</td><td><input type="text" name="votes" value="${e.votes_per_user}" /></td></tr>
      <tr><td>Allow Nominations?</td><td><input type="checkbox" name="allownominations" py:attrs="{'checked':''} if e.allow_nominations else {}" /> </td></tr>
      <tr><td>Until When?</td><td><input type="text" name="nominationend" value="" /> </td></tr>
      <tr><td>Use FAS?</td><td><input type="checkbox" name="usefas" py:attrs="{'checked':''} if e.usefas else {}" /> </td></tr>
      <tr><td>Embargoed?</td><td><input type="checkbox" name="embargoed" py:attrs="{'checked':''} if e.embargoed else {}" /> </td></tr>                        
      <tr><td></td><td><input type="submit" name="submit" value="Submit"/></td></tr>
      <tr>
        <th colspan="2"> Allowed Groups </th>
      </tr>
      <tr py:for="g in groups">
        <td>
        <py:choose test="g.group_name == 'anyany'"><py:when test="0"><py:choose test="g.group_name == 'anycla'"><py:when test="0">${groupnamemap[g.group_name]}</py:when><py:when test="1">Any non-CLA Group</py:when></py:choose></py:when><py:when test="1">Any Group</py:when></py:choose>
        </td>
        <td>Remove group: <input type="checkbox" name="remove_${g.group_name}" /> </td>
      </tr>
      <tr><td>New Groups:<br/>( entries seperated by | )</td><td><input type="text" name="newgroups" value="" /> </td></tr>
      <tr><td></td><td><input type="submit" name="submit" value="Submit"/></td></tr>
    </table>
    </form>
  </body>
</html>
