<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Fedora Elections -- Administration</title>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Alias</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
      </tr>
      <tr py:for="election in elections">
        <td>${election.id}</td>
        <td>${election.shortdesc}</td>
        <td>${election.alias}</td>
        <td>${election.start_date}</td>
        <td>${election.end_date}</td>
        <td>
          <a href="${tg.url('/admin/edit/' + str(election.id))}">More Information</a> 
          <py:if test="election.embargoed"> 
            | 
            <a href="${tg.url('/admin/edit/' + str(election.id) + '?removeembargo=1')}">Remove Embargo</a>
          </py:if>
        </td>
      </tr>
    </table>
    <p><a href="${tg.url('/admin/newe/')}">Create a new election</a></p>
    
  </body>
</html>
