<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Welcome to TurboGears</title>
  </head>
  <body>
  <form action="${tg.url('/admin/newc')}" method="post">
    <table>
      <tr><td>Election Id (Numerical):</td><td><input type="text" name="id" /></td></tr>
      <tr><td>The string below needs to be formatted as: "Name1!URL1 (opt)|Name2!URL2 (opt)|Name3!URL3 (opt)"</td></tr>
      <tr><td>Candidate Name/URL String:</td><td><input type="text" name="nameurl" /></td></tr>
      <tr><td></td><td><input type="submit" name="submit" value="Submit" /></td></tr>
    </table>
  </form>
  </body>
</html>
