<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>${appTitle} -- Cast Your Vote</title>
  </head>
  <body>
    <h1>${election.name}</h1>
    <p>${election.info}</p>
    <p py:if="election.url"><a href="${election.url}">[More Information]</a></p>
    <form action="${tg.url('/vote/' + str(election.id))}" method="post">
      <table border="1" cellpadding="1">
        <tr py:for="candidate in candidates">
          <td>${candidate.name} <small py:if="candidate.url"><a href="${candidate.url}">[info]</a></small></td>
          <py:if test="nextaction=='vote'">
            <td><select name="${candidate.id}">
              <option py:for="option in range(0,len(candidates)+1)" value="$option">$option</option> 
            </select></td>
          </py:if>
          <py:if test="nextaction=='confirm'">
            <td><input type="hidden" name="${candidate.id}" value="${voteinfo[candidate.id]}" />${voteinfo[candidate.id]}</td>
          </py:if>
        </tr>
        <tr>
          <td><input py:if="nextaction=='confirm'" type="button" value="Go Back" onClick="javascript.history.back(1)" /></td>
          <td><input type="submit" name="${nextaction}" value="Submit" /></td>
        </tr>
    </table>
    </form>
  </body>
</html>
