<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Welcome to TurboGears</title>
  </head>
  <body>
    <h1>Confirm Vote in ${election.name}</h1>
    <p>${election.info}</p>
    <p><a href="${election.url}">[More Information]</a></p>
    <form action="${tg.url('/vote/' + str(election.id))}" method="post">
      <table border="1" cellpadding="1">
        <tr py:for="candidate in candidates">
          <td>${candidate.name} <small><a href="${candidate.url}">[info]</a></small></td>
          <td><input type="text" name="${candidate.id}" value="${voteinfo[candidate.id]}" readonly="readonly" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" name="confirm" value="Confirm Vote!" /></td>
        </tr>
    </table>
    </form>
  </body>
</html>
