<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>Fedora Elections</title>
  </head>
  <body>
    <table>
      <tr>
        <th></th>
        <th>Start Date (UTC)</th>
        <th>End Date (UTC)</th>
        <th></th>
        <th></th>
      </tr>
      <tr py:for="election in elections">
        <td>${election.shortdesc}</td>
        <td>${election.start_date}</td>
        <td>${election.end_date}</td>
        <td>
          <py:choose test="1">
          <py:when test="election.alias == ''">
            <a href="${tg.url('/about/' + str(election.id))}">More Information</a>
          </py:when>
          <py:otherwise>
            <a href="${tg.url('/about/' + str(election.alias))}">More Information</a>
          </py:otherwise>
          </py:choose>
        </td>
        <td><a py:if="curtime > election.end_date" href="${tg.url('/results/' + str(election.alias))}">Results</a></td>
      </tr>
    </table>
  </body>
</html>
