<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <meta py:replace="select('*|text()')" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
  </head>
  <body py:match="body" py:attrs="select('@*')">
    <div py:if="tg.config('identity.on') and not defined('logging_in')" id="pageLogin">
      <span py:if="tg.identity.anonymous">
        <a href="${tg.url('/login')}">Login</a>
      </span>
      <span py:if="not tg.identity.anonymous">
        Welcome ${tg.identity.user.display_name or tg.identity.user.user_name}.
        <a href="${tg.url('/logout')}">Logout</a>
      </span>
    </div>
    <div id="header">&#160;</div>
    <div id="main_content">
      <div py:if="tg_flash" class="flash">
        ${tg_flash}
      </div>
      <div py:replace="select('*|text()')" />
    </div>
    <div id="footer">
      <img src="${tg.url('/static/images/under_the_hood_blue.png')}" alt="TurboGears under the hood" />
      <p>
        TurboGears is a open source front-to-back web development framework written in Python
      </p>
      <p>Copyright &#169; 2007 Kevin Dangoor</p>
    </div>
  </body>
</html>
