<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <meta py:replace="select('*|text()')" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/static/css/style.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://fedoraproject.org/static/css/fedora.css" />
    <jsglobals />
  </head>
  <body py:match="body" py:attrs="select('@*')">
    <div id="wrapper">

      <div id="head">
        <h1><a href="/en/index">Fedora</a></h1>
      </div>

      <div id="sidebar">
        <div id="nav">
          <h2>Navigation</h2>
          <ul>
            <li id="nav-home"><a href="http://fedoraproject.org/en/index">Home</a></li>
            <li id="nav-get"><a href="http://fedoraproject.org/en/get-fedora">Get Fedora</a></li>
            <li id="nav-join"><a href="http://fedoraproject.org/en/join-fedora">Join Fedora</a></li>
            <li id="nav-help"><a href="http://fedoraproject.org/en/get-help">Get Help</a></li>
          </ul>
        </div>
      </div>

      <div id="content">

        <ul class="toolbar" id="#main-toolbar">
          <logintoolitem href="${tg.url('/')}" />
        </ul>
        <div py:if="tg_flash" class="flash">
          ${tg_flash}
        </div>

        <div py:replace="select('*|text()')" />
      </div>
      <p>
        Please report voting issues to the <a href="https://fedorahosted.org/fedora-infrastructure/">Fedora Infrastructure ticket system</a> selecting the Elections component.
      </p>

    </div>

    <div id="bottom">
      <div id="footer">

        <p class="copy">
        Copyright &copy; 2008 Red Hat, Inc. and others.  All Rights Reserved.  Please send any comments or corrections to the <a href="mailto:webmaster@fedoraproject.org">websites team</a>.
        </p>
        <p class="disclaimer">
        The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.
        </p>
        <ul>
          <li class="first"><a href="/en/sponsors">Sponsors</a></li>

          <li><a href="http://fedoraproject.org/wiki/Legal">Legal</a></li>
          <li><a href="http://fedoraproject.org/wiki/Legal/TrademarkGuidelines">Trademark Guidelines</a></li>
        </ul>
      </div>
    </div>
  </body>

  <xi:include href="${tg.fedora_template('login.html')}" />
  <xi:include href="${tg.fedora_template('jsglobals.html')}" />

</html>
