<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>${appTitle}</title>
  </head>
  <body>
    <h1>Vote Verification Page</h1>
    <p>Please check the below content to ensure that all of your cast votes are marked as 'valid', if you notice any elections showing that you have an invalid vote cast please contact the election administration team by creating a ticket at the <a href="https://fedorahosted.org/fedora-infrastructure/">Fedora Infrastructure ticket system</a> and select the 'Elections' component with your FAS username and the election that is marked as invalid.</p>
    <h2 py:if="validvotes">Valid Votes</h2>
    <ul py:if="validvotes">
      <li py:for="vote in validvotes"><a href="${tg.url('/about/' + validvotes[vote].election.alias)}">${validvotes[vote].election.description}</a></li>
    </ul>
    <h2 py:if="invalidvotes">Invalid Votes</h2>
    <ul py:if="invalidvotes">
      <li py:for="vote in invalidvotes"><a href="${tg.url('/about/' + invalidvotes[vote].election.alias)}">${invalidvotes[vote].election.description}</a></li>
    </ul>

  </body>
</html>
