<?python
    def gradient(nocands, voteweight):
        weightpercent = ((voteweight*100)/nocands)
        if weightpercent >=90:
            return "vthot"
        elif weightpercent >= 70:
            return "vtwarm"
        elif weightpercent >= 50:
            return "vtmedwarm"
        elif weightpercent >= 30:
            return "vtmedcool"
        elif weightpercent >= 10:
            return "vtcool"
        else:
            return "vtcold"
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <head>
    <title>${appTitle} -- Cast Your Vote</title>
  </head>
  <body>
    <h1>${election.shortdesc}</h1>
    <p>${election.description}</p>
    <p py:if="election.url"><a href="${election.url}">[More Information]</a></p>
    <div>
    <form action="${tg.url('/vote/' + str(election.id))}" method="post">
      <table border="1" cellpadding="1">
        <tr py:for="candidate in candidates">
          <td><py:choose test="election.usefas"><py:when test="0">${candidate.name}</py:when><py:when test="1">${usernamemap[candidate.id]}</py:when></py:choose> <small py:if="candidate.url"><a href="${candidate.url}">[info]</a></small></td>
          <py:if test="nextaction=='vote'">
            <td><select name="${candidate.id}">
              <option py:for="option in range(0,len(candidates)+1)" value="$option">$option</option> 
            </select></td>
          </py:if>
          <py:if test="nextaction=='confirm'">
            <td><input type="hidden" name="${candidate.id}" value="${voteinfo[candidate.id]}" /><div class="${gradient(len(candidates),voteinfo[candidate.id])}">${voteinfo[candidate.id]}</div></td>
          </py:if>
        </tr>
        <tr>
          <td><input py:if="nextaction=='confirm'" type="button" value="Go Back" onClick="history.go(-1)" /></td>
          <td><input type="submit" name="${nextaction}" value="Submit" /></td>
        </tr>
    </table>
    </form>
    </div>
    <div>
      <h2>Information on Range Voting</h2>
      <p>Fedora Project has implemented <a href="http://rangevoting.org/">Range Voting</a> for this election, in particular the "Range (score-summing, blanks treated as zero score, no quorum rule)" range voting system.</p>
      <p>To cast your vote in this election simply select a value between 0 and ${len(candidates)} with 0 as 'least or no preference' and ${len(candidates)} as 'highest preference'.</p>
      <p>At the end of the election, the highest ranking candidate(s) are marked as the winners.</p>
      <p>For more information about Range Voting, visit the <a href="http://rangevoting.org/">Center for Range Voting</a>.</p>
    </div>
  </body>
</html>
