{% extends "base.html" %}
{% block title %}Election administration{% endblock %}

{% block body %}
  <h2>Election administration</h2>

  <ul>
    <li>
      <a href="{{ url_for('admin_new_election') }}">
        Create new election
      </a>
    </li>
  </ul>

  {% if elections %}
  <table>
    <tr>
      <th>Election</th>
      <th>Start date (UTC)</th>
      <th>End date (UTC)</th>
      <th>Status</th>
    </tr>
    {% for election in elections %}
      <tr>
        <td>
          <a href="{{ url_for('admin_view_election',
                              election_alias=election.alias) }}">
            {{ election.summary }}
          </a>
        </td>
        <td>{{ election.start_date }}</td>
        <td>{{ election.end_date }}</td>
        <td>{{ election.status }}</td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No elections present in the database</p>
  {% endif %}
{%endblock %}
