{% extends "base.html" %}
{% from "_formhelpers.html" import render_bootstrap_textfield_in_row %}

{% block title %}{{ submit_text }}{% endblock %}

{%block tag %}admin{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="card">
      <div class="card-header">
        Add multiple candidates
      </div>
      <div class="card-block">
        <p>
          The string below needs to be formatted as:
          "Name1!URL1 [optional]|Name2!URL2 [optional]|Name3!URL3 [optional]"
        </p>
        <form action="" method="post">
          <fieldset>
              {{ render_bootstrap_textfield_in_row(form.candidate) }}
          </fieldset>
          <input class="btn btn-primary btn-block" type="submit" class="submit positive" value="Add Multiple Candidates">
          {{ form.csrf_token }}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
