{% extends "base.html" %}
{% from "_formhelpers.html" import render_election_form %}


{% block title %}{{ submit_text }}{% endblock %}

{%block tag %}admin{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <h2>Create new election</h2>
    {{ render_election_form(form, submit_text="Create Election") }}
  </div>
</div>
{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript" src="{{
    url_for('static', filename='jquery-1.10.2.min.js') }}"> </script>
<script type="text/javascript" src="{{
    url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"> </script>

<script type="text/javascript">
    $(function(){
        $('#start_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#end_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
    });
</script>
{% endblock %}
