{% extends "base.html" %}
{% from "_formhelpers.html" import render_election_form %}

{%block tag %}admin{% endblock %}

{% block body %}
  <h2>{{ election.shortdesc }}</h2>
  <p>{{ election.description }}</p>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="card">
        <div class="card-header">
          Candidates <span class="label label-pill label-default">{{ election.candidates.count() }}</span>
          <div class="pull-xs-right">
            <a class="btn btn-secondary btn-sm" href="{{ url_for('admin_add_candidate',
                                election_alias=election.alias) }}">
              Add
            </a>
            <a class="btn btn-secondary btn-sm" href="{{ url_for('admin_add_multi_candidate',
                                election_alias=election.alias) }}">
              Add multiple
            </a>
          </div>
        </div>
          {% if election.candidates.all() %}
            <div class="list-group list-group-flush">
              {% for candidate in election.candidates.all() %}
                <div class="list-group-item">{{ candidate.name }}
                  {% if candidate.fas_name %} ({{ candidate.fas_name }}) {% endif %}
                  <div class="pull-xs-right">
                  <a class="btn btn-secondary btn-sm" href="{{ url_for('admin_edit_candidate',
                                      election_alias=election.alias,
                                      candidate_id=candidate.id) }}">
                    edit
                  </a>
                  <a class="btn btn-danger btn-sm" href="{{ url_for('admin_delete_candidate',
                                      election_alias=election.alias,
                                      candidate_id=candidate.id) }}">
                    delete
                  </a>
                </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="card-block text-xs-center">There are no candidates. </div>
          {% endif %}
      </div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="card">
        <div class="card-header">Election Details</div>
        <div class="card-block">
        {{ render_election_form(form, submit_text="Save Changes") }}
      </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block jscripts %}
{{ super() }}
<script type="text/javascript" src="{{
    url_for('static', filename='jquery-1.10.2.min.js') }}"> </script>
<script type="text/javascript" src="{{
    url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"> </script>

<script type="text/javascript">
    $(function(){
        $('#start_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
        $('#end_date').datepicker({
            dateFormat: "yy-mm-dd",
        });
    });
</script>
{% endblock %}
