{% extends "base.html" %}

{%block tag %}admin{% endblock %}

{% block body %}
  <h2>{{ election.shortdesc }}</h2>
  <p>{{ election.description }}</p>
  <p>
    <a href="{{ url_for('admin_edit_election', election_alias=election.alias) }}">
      Edit election
    </a>
  </p>
  <ul>
    <li>Start date: {{ election.start_date }}</li>
    <li>End date: {{ election.end_date }}</li>
    <li>Number elected: {{ election.seats_elected }}</li>
    <li>Election type: {{ election.voting_type }}</li>
    <li>Maximum number of votes: {{ election.max_votes }}</li>
    <li>Admin groups: {{ election.admin_groups_list | join(', ') }}</li>
    <li>Legal voters: {{ election.legal_voters_list | join(', ') }}</li>
  </ul>
  <h3>Candidates</h3>
  {% if election.candidates.all() %}
    <p>{{ election.candidates.count() }} candidates found</p>
    <ul>
      {% for candidate in election.candidates.all() %}
        <li>{{ candidate.name }}
          <a href="{{ url_for('admin_edit_candidate',
                              election_alias=election.alias,
                              candidate_id=candidate.id) }}">
            [edit]
          </a>
          <a href="{{ url_for('admin_delete_candidate',
                              election_alias=election.alias,
                              candidate_id=candidate.id) }}">
            [x]
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no candidates.</p>
  {% endif %}
  <a href="{{ url_for('admin_add_candidate',
                      election_alias=election.alias) }}">
    Add a candidate
  </a> -
  <a href="{{ url_for('admin_add_multi_candidate',
                      election_alias=election.alias) }}">
    Add a multiple candidates
  </a>
{% endblock %}
