{% extends "base.html" %}

{%block tag %}{{tag}}{% endblock %}

{% block body %}
  <h2>{{ title }}</h2>
  {% if elections %}
  <table>
    <tr>
      <th>Election</th>
      <th>Start date (UTC)</th>
      <th>End date (UTC)</th>
      <th>Status</th>
      <th></th>
    </tr>
    {% for election in elections %}
      <tr>
        <td>{{ election.summary }}</td>
        <td>{{ election.start_date }}</td>
        <td>{{ election.end_date }}</td>
        <td>{{ election.status }}</td>
        <td>
          {% if election.status == "In progress" %}
            {% if g.fas_user %}
              {% if election.voting_type == 'range' %}
                <a href="{{ url_for('vote_range', election_alias=election.alias) }}">
              {% elif election.voting_type == 'simple' %}
                <a href="{{ url_for('vote_simple', election_alias=election.alias) }}">
              {% endif %}
              Vote now!
              </a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
  <p> No elections </p>
  {% endif %}
{% endblock %}
