.message {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

.warning {
    color: #FF8000;
}

#galleria{
    height: 250px;
}

.acls tr td {
    vertical-align: text-top;
}

#header input {
    border-radius: 10px;
}

h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
}

body#index #mainNav li#indexTab a,
body#open #mainNav li#openTab a,
body#archives #mainNav li#archivesTab a,
body#admin #mainNav li#adminTab a {
    background-color: #fff;
    color: #444;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width:0px;
}

body#admin table {
    padding-top:2em;
}

#results .firstout tr,
#results .firstout td {
    border-top: 2px solid red !important;
}

.row_even, .row_even td {
    background-color: #F0F0F0;
}

#content {
    float:left;
    width:74%px;
}

#options {
    float:right;
    width:23%;
    margin-right: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15) inset;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    top:120px;
    right:0;
}

#delimiter {
    background-color:#193b6c;
    height: 10px;
}

#options_title {
    border-radius: 10px 10px 0px 0px;
    padding: 1px 0em 1px 1em;
    margin: 0px 0px 0px 0px;
    background: #34609f;
    color: #fff;
}

#options_content ul {
    list-style-type: none;
    margin-right: 5px;
}

#options_content li {
    margin-bottom: 5px;
}

#options input[type="submit"] {
    width: 90%;
}

/** Web App Styles **/
/* Links to other web apps */
#actions {
  line-height: 1;
  list-style: none;
  margin: 1ex 0!important;
  padding: 1ex 0ex 0ex 0ex;
}

#actions li {
    display: inline;
    margin-right: 1ex;
}

#metainfo th{
    text-align: left;
    background: none repeat scroll 0 0 #DDDDDD;
}

#metainfo th{
    border: 1px solid #000000;
    padding: 0.6ex;
}


.vthot
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #FFFFFF;
  background: #9C0000;
}

.vtwarm
{
  border: 1px solid #DDDDDD;
 padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #FFA300;
}

.vtmedwarm
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #93FF63;
}

.vtmedcool
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #00DAFE;
}

.vtcool
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #0033FF;
}

.vtcold
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #FFFFFF;
  background: #000083;
}
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 75%
}

.underline {
    text-decoration: underline;
}

a.large_button,
a:hover.large_button,
a:visited.large_button {
    color: white;
}

.large_button {
    color: white;
    background: #3C6EB4;
    padding: 1em;
    margin-bottom: 1em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display:inline-block;
}

.cell a {
    color: #193C6E;
}

body#index h3 {
    padding-top: 1em;
}

.evolution-container {
    box-sizing: border-box;
    width: 835px;
    height: 325px;
    padding: 10px 10px 15px 10px;
    margin: 15px auto 30px auto;
}

.evolution-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
