.bodycontent{
  min-height: 500px;
}

.nowrap{
  white-space: nowrap;
}

.stretch-cell{
  min-width:99%
}

.voting-sheet{
  border: 2px solid black
}

.c-select.fullwidth{
  width:100%;
}

.evolution-container {
    box-sizing: border-box;
    height: 325px;
    padding: 10px 10px 15px 10px;
    margin: 15px auto 30px auto;
}

.evolution-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}
