body {
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 1.35;
}

#flashes {
  background-color: #ffa;
}

nav {
  background-color: #eee;
  padding: 0.5em 1em;
}

nav h2 {
  display: inline;
  font-size: inherit;
  margin-right: 1em;
}

nav ul {
  display: inline;
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: .5em;
}

.clear {
  clear: both;
}

/* input elements */

fieldset {
  border: 0;
  padding: 0;
  margin: .5em 0;
  float: left;
  clear: both;
}

.row {
  margin: .25em 0;
}

.row label:first-child {
  width: 8em;
  margin-right: 0.75em;
  text-align: right;
  clear: both;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

.row textarea {
  width: 30em;
  height: 8em;
}

form .row .errors {
  list-style: none;
  margin: .5em 0 1em 10.9375em;
  padding: 0;
  font-size: .8em;
  color: #c00;
  width: 30em;
}

div.help {
  width: 40%;
  float: right;
  background-color: #ffa;
  border-top: 1px solid #ee9;
  padding: 1em;
  font-size: .8em;
  margin: .625em 0;
}

div > *:first-child { margin-top: 0; }
div > *:last-child { margin-bottom: 0; }

form .buttons.indent {
  margin-left: 8.75em;
}

.vthot
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #FFFFFF;
  background: #9C0000;
}

.vtwarm
{
  border: 1px solid #DDDDDD;
 padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #FFA300;
}

.vtmedwarm
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #93FF63;
}

.vtmedcool
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #00DAFE;
}

.vtcool
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #000000;
  background: #0033FF;
}

.vtcold
{
  border: 1px solid #DDDDDD;
  padding: 1.5ex;
  margin: 1ex 0;
  color: #FFFFFF;
  background: #000083;
}

