{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block title %}Log in{% endblock %}
{% block body %}
  <h2>Log in</h2>

  <form action="" method="post">
    <p>
      Log in using your 
      <a href="{{ config.FAS_BASE_URL }}">Fedora Accounts System</a>
      account.
    </p>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    <p class="buttons indent"><input type="submit" class="submit positive"
       value="Log in">
    </p>
    {{ form.csrf_token }}
  </form>
{% endblock %}
